<div class="container">
  <h2>O1E へようこそ!</h2>
  <p>新規登録(無料)して利用を開始しましょう。</p>
  <%= form_with model: @user, url: password_resets_path, scope: :password_reset, local: true do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email,
        class: "form-control",
        autofocus: true,
        autocomplete: "email" %>
    </div>

    <div class="actions">
      <%= f.submit "無料で新規登録", class: 'btn btn-light' %>
    </div>
  <% end %>
</div>
