<h1>パスワード再設定</h1>
<p><%= link_to 'こちら', edit_password_reset_url(@user.reset_token, email: @user.email) %>からパスワードを再設定してください。</p>
<p>このリンクは2時間で期限切れになります。</p>
<p>
  パスワードの再設定をリクエストしていない場合は、このメールを無視してください。
  パスワードはそのままです。
</p>
