<div class="container">
  <div class="jumbotron">
    <%= image_tag 'logo.png' %>
    <p class="lead">自分のスキルを管理しよう</p>
    <hr>
    <p>
      O1Eは、自分が習得したいスキルを1箇所で管理することができるWebアプリケーションです。<br>
      ユーザー登録することで簡単に利用することができます。
    </p>
    <% if !signed_in? %>
      <%= link_to '無料で新規登録', join_path, class: 'btn btn-light' %>
    <% end %>
  </div>
</div>
