<div class="container">
  <div class="jumbotron">
    <h1>権限一覧</h1>
  </div>

  <table class="table table-hover">
    <caption>テーブルの表題</caption>
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th scope="col">権限名</th>
        <th scope="col">LEVEL</th>
      </tr>
    </thead>
    <tbody>
      <%= render @roles %>
    </tbody>
  </table>
</div>
