<div class="container">
  <div class="jumbotron">
    <h1>カテゴリ一覧</h1>
    <p>タスクの大分類で、進捗率を所持する。</p>
    <% if superadmin? %>
      <%= link_to '新規登録', new_admin_category_path, class: 'btn btn-dark' %>
    <% end %>
  </div>

  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>ID</th>
        <th scope="col">カテゴリコード</th>
        <th scope="col">カテゴリ名</th>
        <% if superadmin? %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render @categories %>
    </tbody>
  </table>
</div>
