<div class="container">
  <div class="jumbotron">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
    <%= link_to '科目を追加する', new_category_subject_path(@category.code), class: 'btn btn-light' %>
  </div>
</div>
