<div class="container">
  <div class="jumbotron">
    <h1><%= @category.name %></h1>
    <p><%= @category.description %></p>
    <%= link_to '科目を追加する', new_category_subject_path(@category.code), remote: true, class: 'btn btn-light' %>
  </div>
</div>





<!-- 切り替えボタンの設定 -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#form-modal">
  ココを押すと表示
</button>

<!-- モーダルの設定 -->
<div class="modal fade" id="form-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="form-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
  </div>
</div>
