<footer class="footer">
  <div class="container">
    <ul class="clearfix footer-items">
      <li class="text-gray">&copy; 2020 SignHack, Org.</li>
      <li><%= link_to 'Home', root_path %></li>
    </ul>
  </div>
</footer>
